<a href="https://colab.research.google.com/github/kushi9900/Reddy/blob/main/introduction_session_(G_AI).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
N=input()
SQR=N*2
print(SQR)

9
99

In [ ]:
A=input()
B=input()
temp=A
A=B
B=temp
print(A,B)

6
5
5 6

In [ ]:
import pandas as pd
data={'name':['tom','nick','krish','jack'],'age':[20,21,19,18],'city':['new york','london','paris','uk']}
df=pd.DataFrame(data)
print(df)

    name  age      city
0    tom   20  new york
1   nick   21    london
2  krish   19     paris
3   jack   18        uk